$margin: 2% auto;
$margin-middle: 1% auto;
$margin-resize: 0% auto;
$margin-item-forecast: -5% 5%;
$margin-whether: 1%;
$margin-bottom: 10%;
$margin-bottom-resize: 40%;
$backround-color: blue;
$map-color: white;
$text-color: yellow;
$loc-color: red;
$font-item: 2rem;
$layout-breakpoint-big: 1830px;
$layout-breakpoint-medium: 960px;
$layout-breakpoint-small: 600px;
