$backround-color: #ffffff;
$backround-second: #F5F5F5;
$text-color: #858688;
$buttons-color: #582c7e;
$menu-color: #959595;
$link-color: #454545;
$part-text-color: red;
$button-account-color: #5f2966;
$button-social-color: #4a1c50;
$promo-color: #555555;
$promo-text: #959393;
$devider-color: #b9b9b9;
$main-title-color: #535353;
$navigation-color: #5c5c5c;

$font: "Titillium Web";

$opacity-hover: 0.5;

$center-align: center;
