@media (max-width: 1200px) and (min-width: 800px) {

  %flex-columns {
    display: flex;
    flex-direction: column;
  }

  .about__wrapper{
    @extend %flex-columns;
    margin: -31.5em 0em 0em 0em;
  }

  .header__logo-language{
    @extend %flex-columns;
    padding: 5.5em 0em 0em 0em;
  }

  .header__navigation {
    width: 40%;
    margin: 3.3em 0em 0em 0em;
  }

  .navigation__link{
    margin: 0em 0.1em 0em 0.1em;
  }

  .header__buttons{
   margin: 4em 0em 0em 0em;
  }

  .about__title{
    font-size: 50px;
    text-align: left;
    margin: 0em 0em 0em 1em;
  }

  .about__description{
  text-align: left;
  margin: -0.1em 0em 0em 12em;
  }

  .about__buttons{
    margin: -7.7% 0% 0% 20.7%;
  }

  .promo-wrapper{
    margin: -35% 5% 0em 14.7%;
  }

  .promo__article{
    margin: -2.5% 2.5% 0% 2.7%;
  }

  .main__title{
    margin: -7% 0% 0% 17%;
  }

  .main__text{
    margin: 4% 0% 0% 16%;
  }

  .testimonials__review{
    margin: 3% 0% 3% -20%;
  }

  .testimonials__selections{
  margin: 0% -4% 0% 0%;
  }

  .testimonials__content{
    margin: 0% 2% 0% 16%;
    position: relative;
    z-index: 100;
  }

  .testimonials__title {
    margin: 13% 0% 2% 3%;
}

  .testimonials__image{
    margin: -10.0% 0% 0% 2%;
    position: relative;
    z-index: 0;
    width: 289px;
    height: 335px;
  }

  .testimonials__link{
    margin: 1% -2% 0% 0%;
  }

  .sponsorship__content{
    margin: 0% 40% 0% 0%;
  }

  .sponsorship__title{
    margin: 4.2% 15% 0% 0%;
  }

  .sponsorship__context{
    margin: 0.5% 15% 0% 0%;
  }

  .sponsorship__buttons{
    margin: 2.3% 0% 0% 28%;
  }

  .sponsorship__text{
    margin: 0.8% 39% 0% 0%;
  }

  .sponsorship__list{
    margin: 0% 36% 0% 0%;
  }

  .footer__wrapper{
    margin: -30% 0% 0% 0%;
 }

.company{
  margin: 0.5% 0% 0% 0%;
 }

.footer__company{
  margin: 0.5% 0% 0% 0%;
}

.devider__4{
  height: 32px;
}

.devider__6{
  @include devider(0px, 0px, $devider-color);
}

.devider__7{
  @include devider(0px, 0px, $devider-color);
  margin: 1% 0% 0% 0%;
}

.devider__8{
   @include devider(0px, 0px, $devider-color);
   margin: 0% 0% 0% 0%;
}

.social__navigation{
  margin: 0.1% 0% 0% 0%;
}

.footer__copyright{
  margin: 0.1% 0% 0% -13%;
}

}
